*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: 1250px;
}
.wrapper-our-services{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
	margin-top: 3vh;
}
.h3-our-services{
	font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}
hr{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
}
.p-our-services{
	font-weight: 300px;
	font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 952px;
    text-align: center;
}
.list-items{
	margin-top: 40px;
}
.list-items-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.list-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	height: 350px;
	padding-left: 38px;
	margin-top: 37px;
	margin-left: 34px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px #F5F6FB;
}
.h3-list-item{
	font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}
.p-list-item{
	font-weight: 300px;
	font-size: 16px;
	line-height: 28px;
	color: #7D7987;
}
.a-list-item{
	text-decoration: none;
	text-align: center;
	font-weight: bold;
    font-size: 18px;
    line-height: 60px;
	margin-top: 69px;
	width: 200px;
	height: 56px;
	color: #458FF6;
	border: 1px solid #458FF6;
	border-radius: 50px;
	margin-bottom: 3vh;
}

@media only screen and (max-width:900px){
	.container{
		width: 900px;
	}
	.p-our-services{
		width: 90%;
	}
}

@media only screen and (max-width:600px){
   .container{
       width: 600px;
   }
   .h3-our-services{
       font-size: 20px;
       line-height: 30px;
   }
   hr{
       width: 35px;
       height: 1px;
       border-radius: 3px;
   }
   .p-our-services{
	   font-size: 12px;
       line-height: 20px;
   }
   .list-item{
   	   flex-direction: row;
   	   align-items: center;
   	   width: 450px;
	   height: 200px;
	   padding-left: 28px;
	   margin-top: 27px;
	   margin-left: 24px;
   }
   .wrapper-3{
   	   margin-left: 5vw;
   }
   .h3-list-item{
	   font-weight: bold;
       font-size: 14px;
       line-height: 26px;
   }
   .p-list-item{
	   font-size: 10px;
	   line-height: 18px;
	   margin-right: 10px;
   }
   .a-list-item{
       font-size: 10px;
       line-height: 40px;
	   margin-top: 5vh;
	   width: 150px;
	   height: 40px;
   }
}

@media only screen and (max-width:400px){
   .container{
       width: 400px;
   }
   .list-item{
   	flex-direction: column;
   	width: 90vw;
   }
}